


.brands {
    padding-bottom: 24px;
    background: $back;
    &__header {
        
    }

    &__h2 {
        padding: 16px 16px 16px 16px; 
        background: linear-gradient(90deg, $back 1.39%, $wight 100%);
        @media (min-width:768px) {
            padding: 16px 16px 16px 24px;
        }
        @media (min-width:1120px) {
            padding: 16px 16px 16px 32px;
        }
    }

    &__body {
    }

    &__list {
        display: flex;
        justify-content: space-between;
        margin-top: 24px; 
        margin-bottom:24px;
        white-space: nowrap;
        gap: 5px; 
        @media (min-width:768px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            justify-items: center;
            column-gap: 24px;
            grid-auto-rows: 0;
            overflow-y: hidden;
            gap: 0px;   
            
            &--expand{
                grid-template-rows: 1fr 1fr 1fr;
                grid-auto-rows: auto;
            }
        }  
        @media (min-width:1120px){
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            justify-items: center;
            column-gap: 24px;
        }  
    }

    &__item {
        list-style-type: none;
        width: 240px;
        height: 72px;
        margin-bottom: 16px;
        @media (min-width:768px) {
            min-width: 224px;
        } 
        @media (min-width:1120px){
            min-width: 240px;
        }      
    }
    &__arrows{
        margin-left: 24px;
        display: none;
        @media (min-width:768px){
            display: block;
        }
        @media (min-width:1120px){
            margin-left: 31px;
        }
    }
}

.h2 {
    font-family: TT Lakes;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color:$text_button;
    position: relative;
    &::before{
        position: absolute;
        background-color: $border_heder;
        left: 0px;
        top: 0px;
        content: "";
        height: 1px;
        width: 100%;
    }
   
}

.swiper {
    min-width: 100%;
    height: auto;
    width: auto;
  }
.swiper-slide { 
    width: auto;
}
.swiper-pagination-bullet-active{
    background: $text_button;
}
.brand-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $wight;
    border: 1px solid $border;
    border-radius: 6px;
    padding: 0px 16px;
    height: 72px;
    width: 206px;

    &:hover{
        border-color:$pink;
        box-shadow:  0 0 4px 4px $shadow;
    }
    &__image {
        background: $wight; 
    }

    &__button {
        padding:12px 14px;
        background:$wight;
        border-radius: 50%;
        border: 2px solid $pink;
    }
}


