


$back: #F8F8F8;
$text: rgb(0, 0, 0);



$border_heder: #D9FFF5;
$border_h1:#41F6D7;
$border_button:#B8FFEC;

$h1_text:  #1B1C21;
$text_button: #7E7E82;
$text_main: #1B1C21;




$wight: #FFFFFF;

$pink:  #FF3E79;
$pink-hover:#EE2D68;
$pink-focus:#DD1C57;
$shadow: #80808044;
$border: #EAEAEA;
$footer: #7E7E82;
